*{

margin: 0;
padding: 0;
}

nav{
background: black;
padding: 1rem;
}


nav ul{

list-style-type: none;
margin: 0;
padding: 20px;
display: flex;
justify-content: space-around;
}

nav ul li a{

color: white;
text-decoration: none;
padding: 0.5rem 1rem;
}

nav ul li a:hover{

background-color: rgb(26, 14, 14);
border-radius: 5px;

}

html{

font-family: 'Courier New', Courier, monospace;
font-size: 18px;


}






#hero{

width: 100%;
height: 100vh;
background: url(photo4.webp) no-repeat center / cover ;
color: rgb(0, 0, 0);


}

.container{

width: 90%;
width: 100%;
max-width: 1000px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;


}
.container .info h1{

font-size: 3rem;
margin-bottom: 1rem;

}
.container .info h2{

font-size: 1.2rem;
max-width: 60%;


}




.container .info a{

text-decoration: none;
display: inline-block;
background-color: white;
border-radius: 4px;
font-size: 1.8rem;
padding: 0.5em 2em;
margin-top: 2rem;

color:#ee6c09;
}

