#test-div{

width: 200px;
height: 200px;
border-radius: 10px;
color: white;
background-color: rgb(8, 8, 105);
/* transform: translate(500px, 500px); */
margin: 200px;
/* transform: rotate(45deg); */
/* transform: scale(2, 2); */
/* transform: scaleX(2); */
/* transform: scaleY(3); */
/* transform: skewX(30deg); */
transform: skewY(40deg);
padding: 10px;
}

#transition{

width: 200px;
height: 200px;
background-color: rgb(42, 175, 236);
transition: background 2s, border-radius 2s;
}

#transition:hover{

background-color: blue;
border-radius: 50%;

}

/* zoom in */

#engineers img{
transform: scale(1);
transition: 3s ease-in-out;
}

#engineers:hover img{
transform: scale(1.5);
}