body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0b1220;
    color: #e9eefc;
}


nav{

background-color: rgb(255, 255, 255);
 padding: 20px;
color: rgb(0, 0, 0)



}


ul{

list-style-type: none;
padding: 15px 25px;
border-left: 5px;
background-color: rgb(103, 121, 133);
color: rgb(0, 0, 0);
font-size: 20px;
}




ul li{

list-style-type: none;
 padding: 8px;
border: 1px solid rgb(0, 0, 0);

}