body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0b1220;
    color: #e9eefc;
}


nav{

background-color: rgb(255, 255, 255);
 padding: 20px;
color: rgb(0, 0, 0)



}


 nav ul{

list-style-type: none;
padding: 15px 25px;
border-left: 5px;
background-color: rgb(103, 121, 133);
color: rgb(0, 0, 0);
font-size: 20px;

}

li{
 text-align: center;
padding: 20px;


}
 


*{
 padding: 0;
margin: 0;
box-sizing: border-box;


}


html{

font-family: 'Courier New', Courier, monospace;
font-size: 18px;


}


#hero{

width: 100%;
height: 100vh;
background: url(photo4.webp) no-repeat center / cover ;
color: rgb(0, 0, 0);


}

.container{

width: 90%;
width: 100%;
max-width: 1000px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;


}
.container .info h1{

font-size: 3rem;
margin-bottom: 1rem;

}
.container .info h2{

font-size: 1.2rem;
max-width: 60%;


}


.container .info p{

font-size: 1.2rem;
max-width: 70%;
margin: 0 auto;

}



.container .info a{

text-decoration: none;
display: inline-block;
background-color: white;
border-radius: 4px;
font-size: 1.8rem;
padding: 0.5em 2em;
margin-top: 2rem;

color:#ee6c09;
}



.gallery{
margin: 10px;
border: 1px solid black;
float: left;
width: 450px;

}

.gallery:hover{

border: 3px solid rgb(36, 39, 179);

}
.gallery img{

width: 100%;
height: 300px;


}

