.dropdown-content{

display: none;




}

.dropdown:hover .dropdown-content{
display: block;
background-color: blanchedalmond;
width: 150px;
box-shadow: 10px 10px 10px 10px black;
}


.tooltip{
 padding: 19px;
display: inline-block;
border: 2px dotted black;
}

.tooltip-text{
visibility: hidden;

}

.tooltip:hover .tooltip-text{
visibility: visible;
width: 100px;
height: 30px;
background: black;
text-align: center;
color: white;
padding: 5px;
position: absolute;
top: 140px;
left: 4%;
margin-left: -60px;
}



#example1{

width: 150px;
height: 150px;
background-image: url(./download.jpg);
border-radius: 5px 10px 15px 20px;


}



#example2{

width: 150px;
height: 150px;
background-image: url(./download.jpg);
border-radius: 50px;


}




#example3{

width: 150px;
height: 150px;
background-image: url(./download.jpg);
border-radius: 100px;


}