article p{

background: blue;
color:white;
padding: 20px;
}


article div p{

background: green;
color: white;
}

article > p{

    background: red;
    padding: 20px;
}




article ~ p{


    background: yellow;
    padding: 20px;
}

article + p{
    background: orange;
}


input:in-range{

border: 2px solid green;

}

input:out-of-range{

    border: 2px solid red;
}



main p:first-child{


background-color: aqua;

}


a{

    background: blue;
}