article p{

background: blue;
color:white;
padding: 20px;
}


article div p{

background: green;
color: white;
}

article > p{

    background: red;
    padding: 20px;
}




article ~ p{


    background: yellow;
    padding: 20px;
}

article + p{
    background: orange;
}


input:in-range{

border: 2px solid green;

}

input:out-of-range{

    border: 2px solid red;
}



main p:first-child{


background-color: aqua;

}


#Link:hover{

    background: rgb(66, 155, 190);
}

nav a{

padding: 20px;
margin: 20px;
}

nav{

padding: 20px;
background-color: rgb(211, 200, 141);

}

nav a:hover{


    background-color: rgb(122, 167, 9);
}

nav a:active{

 background-color: aqua;
}

nav  a:visited{


    color: yellow;
}