.container{
display: flex;
background-color: lightblue;

}



.container div{
margin: 10px;
padding: 20px;
background-color: white;
font-size: 35px;

}


.container div:nth-child(1){
order: 2;
flex-grow: 3;

}
.container div:nth-child(3){
order: 3;

}

.container div:nth-child(4){
order: 0;

}

.container div:nth-child(2){
order: 4;

}



.container2{
 display: flex;
 background-color: lightblue;
flex-direction: column-reverse;

}
 


.container2 div{
margin: 10px;
padding: 20px;
background-color: white;
font-size: 35px;

}


.container3{
display: flex;
background-color: lightcoral;
flex-direction:row ;
justify-content: space-evenly;
}


.container3 div{
margin: 10px;
padding: 20px;
background-color: white;
font-size: 35px;

}





.container4{
display: flex;
background-color: rgb(136, 18, 18);
flex-direction:row ;
justify-content: flex-end;
height: 200px;
}


.container4 div{
margin: 10px;
padding: 20px;
background-color: white;
font-size: 35px;
height: 50px;
}


.container4 div:nth-child(2){
align-self: flex-end;

}



/* align-items: stretch, flex-start, flex-end, center */

.container5{
display: flex;
background-color: blue;
flex-direction: row;
height: 200px;
align-items: stretch;


}

.container5 div{
 margin: 10px;
 padding: 20px;
background-color: white;
font-size: 35px;


}

/*align-content: flex-start, flex-end, center, space-between, space-around, stretch */


.container6{

display: flex;
background-color: rgb(173, 135, 135);
flex-direction: row;
height: 800px;
align-items: space-between;
flex-wrap: wrap;

}
.container6 div{
margin: 10px;
 padding: 20px;
background-color: white;
font-size: 35px;
width: 400px;
height: 200px;
}