div#div1{

position: static;
border: 3px solid black;
width: 250px;
height: 250px;
padding: 20px;
}

div#div2{

position: relative;
border: 3px solid black;
width: 250px;
height: 250px;
padding: 20px;
left: 1000px;
top:100px
}




div#div3{
position: fixed;
border: 3px solid black;
width: 250px;
height: 250px;
margin-top: 100px;
top: 100px;
right: 150px;
}

#parents{

position: static;
border: 3px solid black;
width: 250px;
height: 250px;
padding: 20px;


}
#child{

position: absolute;
width: 150px;
height: 150px;
background-color: blue;


}

#horizontal ul{

list-style-type: none;
background-color: black;
margin-bottom: 100px;
overflow: hidden;
}
#horizontal ul li{

    float: right;
}

#horizontal ul li a{

color: white;
padding: 50px;

text-decoration: none;
}
#horizontal ul li a:hover{

background-color: rgb(90, 90, 90);


}
#vertical ul{

list-style-type: none;
background-color: black;
margin-bottom: 100px;
overflow: hidden;


}

#vertical ul li{

padding: 20px;
}

#vertical ul li a{

color: white;
padding: 20px;

text-decoration: none;
}
#vertical ul li a:hover{



    background-color: rgb(109, 109, 109);
}