div#div1{

position: static;
border: 3px solid black;
width: 250px;
height: 250px;
padding: 20px;
}

div#div2{

position: relative;
border: 3px solid black;
width: 250px;
height: 250px;
padding: 20px;
left: 1000px;
top:100px
}




div#div3{
position: fixed;
border: 3px solid black;
width: 250px;
height: 250px;
margin-top: 100px;
top: 100px;
right: 150px;
}

#parents{

position: static;
border: 3px solid black;
width: 250px;
height: 250px;
padding: 20px;


}
#child{

position: absolute;
width: 150px;
height: 150px;
background-color: blue;


}

#horizontal ul{

list-style-type: none;
background-color: black;
margin-bottom: 100px;
overflow: hidden;
}
#horizontal ul li{

    float: right;
}

#horizontal ul li a{

color: white;
padding: 50px;

text-decoration: none;
}
#horizontal ul li a:hover{

background-color: rgb(90, 90, 90);


}
#vertical ul{

list-style-type: none;
background-color: black;
margin-bottom: 100px;
overflow: hidden;


}

#vertical ul li{

padding: 20px;
}

#vertical ul li a{

color: white;
padding: 20px;

text-decoration: none;
}
#vertical ul li a:hover{



    background-color: rgb(109, 109, 109);
}



#dropdown{

overflow: hidden;
background-color: blue;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#dropdown a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#nav-dropdown{
float: left;
overflow: hidden;
}


#dropbtn{
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 15px;
background-color: inherit;
font: inherit;

}


#dropdown a:hover,#nav-dropdown:hover{

background-color: rgb(180, 126, 230);


}

#dropdown-content{

display: none;
position: absolute;
background-color: beige;
width: 100%;
box-shadow: 10px black;
}


#column{
float: left;
width: 50%;
padding: 10px;
background-color: bisque;
height: 250px;
}



#column a{
float: none;
color: white;
padding: 15px;
text-decoration: none;
display: block;
text-align: none;

}

#row:after{


    display: table;
}